# docker compose for web misc
---

services:
  frequentation:
    build: ./frequentation
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frequentation.rule=Host(`frequentation.diplomania2.fr`)"
      - "traefik.http.routers.frequentation.entrypoints=websecure"
      - "traefik.http.routers.frequentation.tls=true"
      - "traefik.http.routers.frequentation.tls.certresolver=myle"
      - "traefik.http.services.frequentation.loadbalancer.server.port=80"
    networks:
      - web

networks:
  web:
    external: true
