# dynamic configuration

http:
  middlewares:
    secureHeaders:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        sslRedirect: true
  routers:
    dashboard:
      entryPoints:
        - websecure
      rule: "Host(`traefik.localhost`)"  # modifie selon ton domaine
      service: api@internal
      tls: {}
      middlewares:
        - secureHeaders

tls:
  certificates:
    - certFile: /etc/traefik/certs/selfsigned.crt
      keyFile: /etc/traefik/certs/selfsigned.key
