
body{
    font-size: 14px;
    font-family: Helvetica;
}

a{
    color: #333;
}

a.menu{
    text-decoration: none;
}

a.menu:hover{
    background-color: #ccc;
}

a.selected{
    font-weight: bold;
}

a:visited{
    color: #333;
}

li{
    list-style-type: none;
}

#panel{
    display:table-cell;
    width:65%;
    padding-right:2%;
    text-align: left;
}


.btn-menu {
    width: 100%;
    display: inline-block;
    color: #111;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}

    .btn-menu:hover {
        background-color: #e3e3e3;
        border-color: rgba(0,0,0,0.5);
    }

    .btn-menu:active {
        background-color: #CCC;
        border-color: rgba(0,0,0,0.9);
    }

div.example{
    margin-top: 2em;
    display: none;
}

pre{
    display: inline-block;
    padding: 1em;
    font-family: Consolas, Courier New;
    color: #ff9;
    background-color: #114;
    border-radius: 10px;
    margin-top: 2em;
    width: 66%;
}

pre.html{
    padding: 0.5em;
}

.zone{
    margin-left: 5em;
    padding: 1em;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    width: 20em;
}

code{
    font-family: Consolas, Courier New;
    color: #113;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

code.file{
    background-color: #fff;
    font-style: italic;
}

#moving{
    position: relative;
    left:140px;
    top:10px;
    font-size:16px;
    padding: 3px;
    background-color: var(--clear-2);
    border-radius: 4px;
}

.up{
    font-size: 1.2em;
}
.down{
    font-size:0.8em;
}

/* colors for highlighted Python code */

span.python-string{
    color: #6aa;
}
span.python-comment{
    color: #6a6;
}
span.python-keyword{
    color: #42ebf4;
}
span.python-builtin{
    color: #0f0;
}



table{
    border: solid;
}

tr{
    border: solid;
}

td{
    border: solid;
}

thead{
    font-weight:bold;
}

#home {
    background-image: url('../fonds/pexels-photo-11.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010; */
}

#login {
    background-image: url('../fonds/pexels-photo-82256.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#selection {
    background-image: url('../fonds/pexels-photo-132197.jpeg'); 
/*   background-color: #E0E0E0;
    color: #101010;*/
}

#tools {
    background-image: url('../fonds/pexels-photo-164005.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#account {
    background-image: url('../fonds/pexels-photo-220182.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#opportunities {
    background-image: url('../fonds/pexels-photo-2680270.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#mygames {
    background-image: url('../fonds/pexels-photo-268415.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#games {
    background-image: url('../fonds/pexels-photo-311039.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#pairing {
    background-image: url('../fonds/pexels-photo-1242348.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#play {
    background-image: url('../fonds/pexels-photo-1484759.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#tournament {
    background-image: url('../fonds/pexels-photo-1831234.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#sandbox {
    background-image: url('../fonds/pexels-photo-1939485.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#oracle {
    background-image: url('../fonds/pexels-photo-2088170.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#lists {
    background-image: url('../fonds/pexels-photo-242236.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#faq {
    background-image: url('../fonds/pexels-photo-242236.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#technical {
    background-image: url('../fonds/pexels-photo-2310713.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010;*/
}

#admin {
    background-image: url('../fonds/pexels-photo-163999.jpeg'); 
/*    background-color: #E0E0E0;
    color: #101010; */
}
