


h1 {
   text-align: center;
   font-size: 14px;
  /* try something some day ... */
}


body{
    font-size: 12px;
    font-family: Arial;
}

a{
    color: blue;
}

a:visited{
    color: green;
}

.btn-menu {
    width: 100%;
    display: inline-block;
    color: #111;
	background-color: #CBE2FE;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.btn-menu:hover {
    background-color: #9E9E9E;
	color: white;
    border-color: rgba(0,0,0,0.5);
}

.btn-menu:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.8);
}



.btn-inside {
    display: inline-block;
    background-color: #D1E3F8;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
}

.btn-inside:hover {
	color: black;
    background-color: #f4f4f4;
    border-color: rgba(0,0,0,0.6);
}

.btn-inside:active {
    background-color: #DDD;
    border-color: rgba(0,0,0,0.9);
}



.code_failed{
    color: grey;
    font-weight: bold;
    font-size: 12px;
    font-family: Courier New;
    background-color: white;
}

.code_info{
    color: blue;
    font-weight: bold;
    font-size: 12px;
    font-family: Courier New;
    background-color: white;
}

.code_communication{
    color: magenta;
    font-weight: bold;
    font-size: 12px;
    font-family: Courier New;
    background-color: white;
}

.code_success{
    color: red;
    font-weight: bold;
    font-size: 12px;
    font-family: Courier New;
    background-color: white;
}

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.event_element {
  font-size: 12px;
  font-family: Serif;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color: #EDEDED;
/*  background-image: linear-gradient(180deg, #989898, #838383 40%, #EDEDED); */
}


/* Chat sample */
.chat_sample {
  color: blue;
  font-family: Verdana;
  font-weight: bold;
}

/* faq, whynot, tip */
.faq-info {
  font-size: 16px;
}


.helper {
  width: 100%;
  font-weight: lighter;
  color: blue;
  background-color: LightCyan;
}

/* color of germany in diplomania map CEB087 */

/* all legends for all inputs */

legend{
    display: block;
    background-color:#CEB087;
}

/* all load time information */

.load{
    font-style: italic;
}

/* diplomacy messages and declarations */
.text{
    font-size: 14px;
    font-family: serif;
}
.text_announce{
    font-size: 14px;
    font-family: serif;
    background-color: #e0e0e0;
}
.text_anonymous{
    font-size: 14px;
    font-family: serif;
    background-color: #808080;
}
.season{
    font-size: 14px;
    font-family: serif;
    background-color: #98E4ED;
}
.dropout{
    font-size: 14px;
    font-family: serif;
    background-color: #FA8128;
}

/* color of italy in diplomania map A8EDA5 */
.information{
    background-color: #83B9CC;
}

/* color of italy in diplomania map A8EDA5 */
.instruction{
    background-color: #A8EDA5;
}

/* color of france in diplomania map 98E4ED */
.note{
    background-color: #98E4ED;
}

/* color of austria in diplomania map EDA89E */
.important{
    font-weight: bold;
    background-color: #A8EDA5;
}

/* color of ? */
.admin_news{
    background-color: #FAFAD2;
}

/*  color of ? */
.modo_news{
     background-color: #F0E68C;
}

/*  color of ? */
.glory_news{
     background-color: #FFE4B5;
}

/* color of sea in diplomania map BBD9DC */
.teaser{
     background-color: #83B9CC;
}


/* just the site image */
figure {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin: 0.5em;
  padding: 0.5em;
}

/* color of england in diplomania map 83B9CC */
table{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

tr{
    border: 1px solid black;
}

td{
    font-size: 12px;
    border: 1px solid black;
    background-color: #D1DEFF;
}

thead{
    font-weight:bold;
    border: 1px solid black;
    text-align: center;
}

fieldset{
    border: 0;
}


#home {
	background-color: #EDEDED;
/*    background: linear-gradient(-45deg, #eeeeee, #e7e7e7e7, #a6a6a6, #232323); */
    background-size: 400% 400%;
/*    animation: gradient 15s ease infinite; */
}


#login {
	background-color: #EDEDED;
/*    background: linear-gradient(-45deg, #a0a0a0, #e7e7e7, #a6a6a6, #222222); */
    background-size: 400% 400%;
/*    animation: gradient 15s ease infinite; */
}

#page {
    background: #FFFFFF;
    background-size: 400% 400%;
}

#create {
	background-color: #EDEDED;
/*    background: linear-gradient(-45deg, #c0c0c0, #c7c7c7, #a6a6a6, #444444); */
    background-size: 400% 400%;
/*    animation: gradient 15s ease infinite; */
}

#moderate {
	background-color: #EDEDED;
/*    background: linear-gradient(-45deg, #d0d0d0, #b7b7b7, #a6a6a6, #555555); */
    background-size: 400% 400%;
/*    animation: gradient 15s ease infinite; */
}

#admin {
	background-color: #EDEDED;
/*    background: linear-gradient(-45deg, #dddddd, #e7e7e7e7, #a6a6a6, #232323); */
    background-size: 400% 400%;
/*    animation: gradient 15s ease infinite; */
}

/*
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
*/