
body{
    font-size: 14px;
    font-family: Arial;
}

a{
    color: blue;
}

a.menu{
    text-decoration: none;
}

a.menu:hover{
    background-color: #ccc;
}

a.selected{
    font-weight: bold;
}

a:visited{
    color: #333;
}

li{
    list-style-type: none;
}

#panel{
    display:table-cell;
    width:65%;
    padding-right:2%;
    text-align: left;
}


.btn-menu {
    width: 100%;
    display: inline-block;
    color: #111;
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}

    .btn-menu:hover {
        background-color: #e3e3e3;
        border-color: rgba(0,0,0,0.5);
    }

    .btn-menu:active {
        background-color: #CCC;
        border-color: rgba(0,0,0,0.9);
    }

div.example{
    margin-top: 2em;
    display: none;
}

pre{
    display: inline-block;
    padding: 1em;
    font-family: Consolas, Courier New;
    color: #ff9;
    background-color: #114;
    border-radius: 10px;
    margin-top: 2em;
    width: 66%;
}

pre.html{
    padding: 0.5em;
}

.zone{
    margin-left: 5em;
    padding: 1em;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
    width: 20em;
}

code{
    font-family: Consolas, Courier New;
    color: #113;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

code.file{
    background-color: #fff;
    font-style: italic;
}

#moving{
    position: relative;
    left:140px;
    top:10px;
    font-size:16px;
    padding: 3px;
    background-color: var(--clear-2);
    border-radius: 4px;
}

.up{
    font-size: 1.2em;
}
.down{
    font-size:0.8em;
}

/* color of germany in diplomania map CEB087 */

/* all legends for all inputs */

legend{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#CEB087;
}

/* all load time information */

.load{
    font-style: italic;
}

/* color of france in diplomania map 98E4ED */
.note{
     background-color: #98E4ED;
}

/* color of austria in diplomania map EDA89E */
.important{
     background-color: #EDA89E;
}

/* color of turkey in diplomania map EDE585 */

#news{
     background-color: #EDE585;
}

/* color of england in diplomania map 83B9CC */

table{
     border: 1px solid black; 
     border-collapse: collapse;
     background-color: #83B9CC;
}

tr{
     border: 1px solid black; 
     background-color: #83B9CC;
}

td{
     border: 1px solid black; 
     background-color: #83B9CC;
}

thead{
     font-weight:bold; 
     border: 1px solid black; 
     background-color: #83B9CC;
}

/* color of sea in diplomania map BBD9DC */

#home {
    background-color: #BBD9DC;
    color: #101010; 
}

#login {
    background-color: #BBD9DC;
    color: #101010;
}

#selection {
   background-color: #BBD9DC;
    color: #101010;
}

#tools {
    background-color: #BBD9DC;
    color: #101010;
}

#account {
    background-color: #BBD9DC;
    color: #101010;
}

#opportunities {
    background-color: #BBD9DC;
    color: #101010;
}

#mygames {
    background-color: #BBD9DC;
    color: #101010;
}

#games {
    background-color: #BBD9DC;
    color: #101010;
}

#pairing {
    background-color: #BBD9DC;
    color: #101010;
}

#play {
    background-color: #BBD9DC;
    color: #101010;
}

#tournament {
    background-color: #BBD9DC;
    color: #101010;
}

#sandbox {
    background-color: #BBD9DC;
    color: #101010;
}

#oracle {
    background-color: #BBD9DC;
    color: #101010;
}

#lists {
    background-color: #BBD9DC;
    color: #101010;
}

#faq {
    background-color: #BBD9DC;
    color: #101010;
}

#technical {
    background-color: #BBD9DC;
    color: #101010;
}

#admin {
    background-color: #BBD9DC;
    color: #101010;
}
