# docker compose for forum node BB
---

services:

  mongodb:
    image: mongo:latest
    container_name: nodebb-mongodb
    restart: unless-stopped
    env_file:
      - ./mongodb.env
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongodb:/data/db
    networks:
      - nodebb_internal

  nodebb:
    build: ./nodebb
    container_name: nodebb
    restart: unless-stopped
    user: forum
    environment:
      - NODE_ENV=production
      - NODEBB_URL=https://forum.diplomania2.fr  # IMPORTANT !
    env_file:
      - ./nodebb.env
    ports:
      - "127.0.0.1:4567:4567"
    volumes:
      - ./nodebb_data:/usr/src/app
      - ./uploads:/usr/src/app/public/uploads
    labels:

     # Activation
      - "traefik.enable=true"
      
      # Router HTTP (redirection vers HTTPS)
      - "traefik.http.routers.nodebb-http.entrypoints=web"
      - "traefik.http.routers.nodebb-http.rule=Host(`forum.diplomania2.fr`)"
      - "traefik.http.routers.nodebb-http.middlewares=redirect-to-https"
      
      # Router HTTPS
      - "traefik.http.routers.nodebb-https.entrypoints=websecure"
      - "traefik.http.routers.nodebb-https.rule=Host(`forum.diplomania2.fr`)"
      - "traefik.http.routers.nodebb-https.tls=true"
      - "traefik.http.routers.nodebb-https.tls.certresolver=myle"
      
      # Service
      - "traefik.http.services.nodebb.loadbalancer.server.port=4567"
      
      # Middleware de redirection
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
      
      # Headers CRITIQUES pour NodeBB
      - "traefik.http.middlewares.nodebb-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.nodebb-headers.headers.customrequestheaders.X-Forwarded-Host=forum.diplomania2.fr"
      - "traefik.http.routers.nodebb-https.middlewares=nodebb-headers"

    depends_on: 
      - mongodb
    networks:
      proxy:
        aliases:
          - nodebb
      nodebb_internal:

networks:
  proxy:
    external: true
  nodebb_internal:
    driver: bridge

