# docker compose for forum node BB
---

services:

  mongodb:
    image: mongo:latest
    container_name: nodebb-mongodb
    restart: unless-stopped
    env_file:
      - ./mongodb.env
    ports:               # should be removed for safety but needed for backup
      - "27017:27017"    # ----
    volumes:
      - ./data/mongodb:/data/db
    networks:
      - nodebb_internal

  nodebb:
    build: ./nodebb
    container_name: nodebb
    restart: unless-stopped
    user: forum
    environment:
      NODE_ENV: production
    env_file:
      - ./nodebb.env
    ports:
      - "127.0.0.1:4567:4567"
    volumes:
      - ./data/nodebb/uploads:/app/nodebb/public/uploads
    labels:

      - "traefik.enable=true"
    
      # HTTP Router (redirect to HTTPS)
      - "traefik.http.routers.nodebb-http.entrypoints=web"
      - "traefik.http.routers.nodebb-http.rule=Host(`forum.diplomania2.fr`)"
      - "traefik.http.routers.nodebb-http.middlewares=redirect-to-https"
    
      # HTTPS Router
      - "traefik.http.routers.nodebb-https.entrypoints=websecure"
      - "traefik.http.routers.nodebb-https.rule=Host(`forum.diplomania2.fr`)"
      - "traefik.http.routers.nodebb-https.tls=true"
      - "traefik.http.routers.nodebb-https.tls.certresolver=myle"
    
      # Service - Use full URL format
      - "traefik.http.services.nodebb.loadbalancer.server.url=http://nodebb:4567"

      # Middleware
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"

    depends_on: 
      - mongodb
    networks:
      nodebb_internal:
      proxy:
        aliases:
          - nodebb

networks:
  proxy:
    external: true
  nodebb_internal:
    driver: bridge

