# docker compose for forum node BB
---

services:

  mongodb:
    build: ./mongodb
    container_name: nodebb-mongodb
    restart: no # later unless-stopped
    networks:
      nodebb_internal:

  nodebb:
    build: ./nodebb
    container_name: nodebb
    restart: no # later unless-stopped
    ports:
      - "127.0.0.1:4567:4567"

    depends_on: 
      - mongodb
    networks:
      proxy:
        aliases:
          - nodebb
      nodebb_internal:

networks:
  proxy:
    external: true
  nodebb_internal:
    driver: bridge

