# docker compose for front end
---

services:

  frontend:
    build: .
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`diplomania2.fr`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=myle"
      - "traefik.http.services.frontend.loadbalancer.server.port=8000"
    networks:
      - proxy

networks:
  proxy:
    external: true
