# docker compose for traefik
---

services:

  traefik:

    image: traefik:v3
    container_name: traefik
    restart: unless-stopped

    command:
      - --configFile=/etc/traefik/traefik.yml

    ports:
      - "80:80"
      - "443:443"

    volumes:

      # docker socket
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

      # static configuration
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml:ro"

      # dynamic configuration
      - "./traefik/dynamic_conf.yml:/etc/traefik/dynamic_conf.yml:ro"

      # acme certificates
      - "./traefik/acme.json:/etc/traefik/acme.json"

    networks:
      - proxy

networks:
  proxy:
    external: true
