# traefik : dynamic configuration

http:

  routers:
    # Dashboard Traefik secure on HTTPS
    dashboard:
      entryPoints:
        - websecure
      rule: "Host(`traefik.diplomania2.fr`)"
      service: api@internal
      tls: {}
      middlewares:
        - authDashboard
        - secureHeaders

    # Special router for challenge ACME HTTP-01 (TO DELETE ???)
    acme-http:
      entryPoints:
        - web
      rule: "PathPrefix(`/.well-known/acme-challenge/`)"
      service: noop@internal
      priority: 100  # priority

  middlewares:
    # Middleware for dahboard
    authDashboard
      basicAuth:
        users:
          - "admin:$$apr1$$H3J/gN7n$$B1CJQ9xuWLCUtjrLNg1i11"

    # Middleware for securing headers
    secureHeaders:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true

    # Middleware pour redirect HTTP to HTTPS 
    redirectSecure:
      redirectScheme:
        scheme: https
        permanent: true


