# traefik : dynamic configuration
---

http:

  routers:
    # Dashboard Traefik secure on HTTPS
    dashboard:
      entryPoints:
        - websecure
      rule: "Host(`traefik.diplomania2.fr`)"
      service: api@internal
      tls: {}
      middlewares:
        - auth
        - secureHeaders

  middlewares:
    # Middleware for dashboard
    auth:
      basicAuth:
        users:
          - "admin:$apr1$wVsXcDwl$kjcwtJq67m0PmRY9e.qw4/"

    # Middleware for securing headers
    secureHeaders:
      headers:
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true

    # Middleware pour redirect HTTP to HTTPS
    redirectSecure:
      redirectScheme:
        scheme: https
        permanent: true
