# traefik : static configuration

log:
  level: INFO

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker: {}
  file:
    filename: "/etc/traefik/dynamic_conf.yml"
    watch: true

certificatesResolvers:
  myle:
    acme:
      email: afjdiplo@outlook.com
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

