# traefik : static configuration
---


log:
  level: INFO

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
    watch: true
    endpoint: "unix:///var/run/docker.sock"
  file:
    filename: "/etc/traefik/dynamic_conf.yml"
    watch: true

certificatesResolvers:
  myle:
    acme:
      email: afjdiplo@outlook.com
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web

experimental:
  fastProxy: {}
