
[MESSAGES CONTROL]


# first the line issue
disable=
	line-too-long,

# the global
	global-statement,

# all the "too few"
## classes
	too-few-public-methods,

# all the "too many"
## code
	too-many-locals,too-many-statements,too-many-branches,too-many-nested-blocks,too-many-lines,too-many-boolean-expressions,
## functions
	too-many-arguments, too-many-return-statements,
## classes
	too-many-instance-attributes,too-many-public-methods,too-many-ancestors,

# TODO
#	fixme,

# duplicate
	duplicate-code,
